<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Verification</title>
  </head>
  <body>
    <div style="">
      <p>Hi!</p>
      <p>Thanks for joining Aksata Group</p>
      <a href={{link}} target='_blank'>Click Here to Verify</a>
    </div>
  </body>
</html>